APP_NAME=RCK-Assets
HTTP_ADDR=:8080

# sqlite (default)
DB_DRIVER=sqlite
DB_DSN=data/rck_assets.db

# untuk postgres:
# DB_DRIVER=postgres
# DB_DSN=postgres://postgres:postgres@localhost:5432/rck_assets?sslmode=disable

# untuk mysql:
# DB_DRIVER=mysql
# DB_DSN=root:password@tcp(localhost:3306)/rck_assets?parseTime=true

JWT_SECRET=ganti-secret-produksi
TOKEN_TTL=12h
DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_PASSWORD=admin123
